<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Interests</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row-gruop">
        <div class="col-md-4 col-md-offset-3 well">
          <div class="row">
            <h3>{{ content.user.name }}</h3>

              <p><b>{{ content.content }}</b></p>

          </div>
          <div class=class="col-xs-11 col-xs-offset-1 well well-sm">
            <p><b><a href="/create">Back to User</a></b></p>
            <p><b><a href="/">Add another Interest</a></b></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
